.outer {
  font-weight: 400;
  color: #4A4A4A;
}
.outer a {
  color: inherit;
  transition: color .5s ease;
}
.outer a + a {
  margin-left: .16rem;
}
.outer a:hover {
  color: #111;
}
.outer .main-nav {
  float: right;
}
.article {
  border-bottom: .01rem solid #EBF2F6;
  padding: .4rem 0 .5rem;
}
.article ul > li {
  float: left;
}
.article li + li::before {
  content: ', ';
  margin-right: .05rem;
  display: inline-block;
}
.article h1 {
  margin: 0;
}
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.article-tag-list {
  display: inline-block;
}
.article-header {
  font-size: .24rem;
}
.article-header a {
  color: #4A4A4A;
  transition: color .3s ease;
}
.article-header a:hover {
  color: #111;
}
.article-header h2 {
  padding: 0;
  margin: 0;
}
.article-entry {
  color: #3A4145;
  padding: .01rem;
  margin-top: .1rem;
}
.article-entry p:not(:first-child) {
  margin-top: .1rem;
}
.article-entry .read-more {
  display: inline-block;
  float: right;
  padding: .05rem .1rem;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .02rem;
  border-radius: .2rem;
  border: .01rem solid #999;
  background: transparent;
  transition: background .3s ease;
  font-weight: 300;
  font-size: .14rem;
}
.article-entry .read-more a:hover {
  text-decoration: none;
  color: #fff;
}
.article-entry .read-more:hover {
  background: #4078c0;
  color: #fff;
  border: .01rem solid #fff;
  cursor: pointer;
}
.article-entry p > a + span.caption {
  display: block;
  text-align: center;
}
.article-footer {
  color: #9eabb3;
  font-size: .16rem;
  margin: .1rem 0 .2rem;
}
.article-footer a {
  color: inherit;
  transition: text-decoration 1s ease;
}
.article-footer a:hover {
  text-decoration: underline;
}
.article-footer * {
  display: inline-block;
  vertical-align: bottom;
  line-height: 100%;
}
.article-nav {
  display: flex;
  color: #9eabb3;
  font-size: .14rem;
}
.article-nav > a {
  flex: 1;
}
p img {
  position: relative;
  left: 50%;
  padding: .05rem;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 100% !important;
}
.pagination {
  display: block;
  margin: .7rem auto 1rem;
  text-align: center;
  color: #9EABB3;
  font-size: .14rem;
}
.footer .outer {
  position: absolute;
  left: 0;
  right: 0;
  padding: .1rem;
  color: #BBC7CC;
  font-size: .14rem;
}
.footer .outer a {
  color: inherit;
}
.footer .outer div {
  display: inline-block;
}
.footer .outer .copyright {
  float: left;
  white-space: nowrap;
}
.footer .outer .author-info {
  float: right;
}
.footer .outer .author-info a {
  font-weight: bold;
}
.footer .outer .bolder {
  font-weight: bolder;
}
.page-nav {
  margin: .6rem 0 1rem;
  font-size: .14rem;
  color: #9EABB3;
  text-align: center;
}
.page-nav .page-number {
  color: #0086b3;
}
.page-nav a,
.page-nav span {
  margin-left: .16rem;
}
.page-nav *:first-child {
  margin-left: 0;
}
.page-nav .current {
  color: inherit;
}
#mobile-nav {
  display: none;
}
.post {
  margin-top: 1rem;
}
time {
  color: #9EABB3;
}
