.article-entry ul,
.article-entry ol,
.article-entry li {
    list-style: inherit;
    margin-left: 1em;
    padding-left: 0;
}
.outer {
    font-weight: 400;
    color: #4A4A4A;
}

.outer a {
    transition: color .5s ease;
}

.outer a + a {
    margin-left: .16rem;
}

.outer a:hover {
    color: #039be5;
}

.outer .main-nav {
    float: right;
    font-weight: bold;
}

.article {
    border-bottom: .01rem solid #EBF2F6;
    padding: .4rem 0 .5rem;
}

.article h1 {
    margin: 0;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.article-header {
    font-size: .24rem;
    margin-bottom: .16rem;
}

.article-header .article-title {
    padding: .06rem .12rem;
    color: #fff;
    background: #333;
    transition: .3s ease-in-out;
}

.article-header .article-title:hover {
    background: #039be5;
    color: #fff;
}

.article-header a {
    color: #333;
    font-weight: bold;
    transition: color .3s ease;
}

.article-header h2 {
    padding: 0;
    margin: 0;
}

.article-entry {
    color: #3A4145;
    padding: .01rem;
    margin-top: .1rem;
}

.article-entry .read-more:hover a {
    text-decoration: none;
    color: #fff;
}

.article-entry .read-more:hover {
    color: #fff;
    cursor: pointer;
    background: #333;
}

.article-entry p > a + span.caption {
    display: block;
    text-align: center;
}

.article-nav {
    display: flex;
    color: #9eabb3;
    font-size: .14rem;
}

.article-nav > a {
    flex: 1;
}

p img {
    position: relative;
    left: 50%;
    padding: .05rem;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 100% !important;
}

.pagination {
    display: block;
    margin: .7rem auto 1rem;
    text-align: center;
    color: #9EABB3;
    font-size: .14rem;
}

.footer {
    overflow: hidden;
}

.footer .outer {
    position: absolute;
    left: 0;
    right: 0;
    padding: .1rem;
    color: #BBC7CC;
    font-size: .14rem;
}

.footer .outer a {
    color: inherit;
}

.footer .outer div {
    display: inline-block;
}

.footer .outer .copyright {
    float: left;
    white-space: nowrap;
}

.footer .outer .author-info {
    float: right;
}

.footer .outer .author-info a {
    font-weight: bold;
}

.footer .outer .bolder {
    font-weight: bolder;
}

.page-nav {
    margin: .6rem 0 1rem;
    font-size: .14rem;
    color: #9EABB3;
    text-align: center;
}

.page-nav .page-number {
    display: inline-block;
    width: .2rem;
    color: #0086b3;
    border: .01rem solid;
    padding: .02rem;
}

.page-nav .page-number:hover {
    background: #333;
    color: #fff;
    border: .01rem solid #333;
}

.page-nav a,
.page-nav span {
    margin-left: .16rem;
}

.page-nav *:first-child {
    margin-left: 0;
}

.page-nav .current {
    color: inherit;
}

#mobile-nav {
    display: none;
}

.post {
    margin-top: 1rem;
}

time {
    color: #9EABB3;
}

#header {
    padding: .16rem 0;
    border-bottom: .04rem solid #039be5;
    font-weight: bold;
}

/* ugly */
.article-more-link.read-more {
    float: right;
    padding: 0 .06rem;
    transition: .3s ease-in-out;
}

.article-more-link.read-more:hover {
    background: #039be5;
    color: #fff;
}

.article-footer {
    overflow: hidden;
}

.article-footer > a > time {
    float: left;
}

.article-tag-list {
    overflow: hidden;
    float: left;
    margin-left: .1rem;
}

.article-tag-list > li {
    float: left;
    text-decoration: underline;
}

.article-tag-list > li + li {
    margin-left: .05rem;
}