html {
    font: 100px/1.75 "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", "sans-serif";
}

body {
    position: relative;
    font: .16rem/1.5 "Open Sans", arial, x-locale-body, sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #039be5;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    width: 7.5rem;
    margin: auto;
}

.clearfix {
    position: relative;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}