<footer id="footer" class="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div class="copyright" class="inner">
      &copy; 2013-<%= date(new Date(), 'YYYY') %> <span class="bolder"><%= config.author || config.title %></span>
    </div>
    <div class="author-info">
      <span>Powered by hexo theme with <span class="bolder"><a href="https://github.com/Jiavan/500miles">500miles</a></span></span>
    </div>
  </div>
  <script src="/js/highlight.pack.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</footer>